.env
.vscode
HW2/Q1/Yeast
HW2/Q1/gSpan6
HW2/Q1/pafi-1.0.1
HW2/Q1/gaston-1.1-re
HW2/Q1/gaston-1.1
.vscode/targets.log
HW2/Q2/temp.cpp
HW2/Q2/index.txt
HW2/Q2/formatted.txt.fp
HW2/Q2/feat.txt
HW2/Q2/a.out
.vscode/targets.log
